@keyframes count-up {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.numberLoadingFrame {
  display: flex;
  flex-direction: column;
  line-height: 2;

  animation: count-up 700ms cubic-bezier(1, -0.05, 0.97, 0.63) infinite;
}

.numberStyle {
  margin: 0;
}
